# Rust
/backend/bn254_engine/target/
**/*.rs.bk

# Python
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/*.whl

# Node/Frontend
**/node_modules/
**/.npm/
**/dist/
**/.next/
**/.out/

# OS / Environment
.DS_Store
.env
.env.local

# IDE
.vscode/
.idea/

# C++ Emscripten Build
/core_cpp/build/
**/*.o
**/*.out
